<!DOCTYPE html>
<html data-ng-app="windApp">

<head>
	<title>Breeze Please</title>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="app/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="app/css/style.css">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#87ceeb">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<div class="container" data-ng-controller="AppController" data-ng-cloak>

		<!-- Clouds -->
		<div class="cloud-wrap" data-ng-class="cloudSpeed(currentWindSpeed)">
			<div class="cloud1 cloud-shape"></div>
			<div class="cloud2 cloud-shape"></div>
			<div class="cloud3 cloud-shape"></div>
			<div class="cloud4 cloud-shape"></div>
			<div class="cloud5 cloud-shape"></div>
		</div> <!-- .clouds-wrap -->


		<!-- Wind Turbines -->
		<div class="m-top50 text-center turbine-wrap">

			<div class="show-md"> <!-- Show at medium viewport -->
				<div class="wind-turbine">
					<div class="pole">
						<div class="pole-gradient"></div>
					</div> <!-- .pole -->
					<div class="generator"></div>
					<div class="rotor" data-ng-class="bladeSpeed(currentWindSpeed)">
						<div class="blades"></div>
						<div class="blades"></div>
						<div class="blades"></div>
					</div> <!-- .rotor -->
					<div class="generator-front"></div>
					<div class="head"></div>
					<div class="bulb"></div>
				</div> <!-- .wind-turbine -->
			</div> <!-- .show-md -->

			<div class="show-sm"> <!-- Show at small viewport -->
				<div class="wind-turbine">
					<div class="pole">
						<div class="pole-gradient"></div>
					</div> <!-- .pole -->
					<div class="generator"></div>
					<div class="rotor" data-ng-class="bladeSpeed(currentWindSpeed)">
						<div class="blades"></div>
						<div class="blades"></div>
						<div class="blades"></div>
					</div> <!-- .rotor -->
					<div class="generator-front"></div>
					<div class="head"></div>
					<div class="bulb"></div>
				</div> <!-- .wind-turbine -->
			</div> <!-- .show-sm -->

			<div class="show-lg"> <!-- Show at large viewport -->
				<div class="wind-turbine">
					<div class="pole">
						<div class="pole-gradient"></div>
					</div> <!-- .pole -->
					<div class="generator"></div>
					<div class="rotor" data-ng-class="bladeSpeed(currentWindSpeed)">
						<div class="blades"></div>
						<div class="blades"></div>
						<div class="blades"></div>
					</div> <!-- .rotor -->
					<div class="generator-front"></div>
					<div class="head"></div>
					<div class="bulb"></div>
				</div> <!-- .wind-turbine -->
			</div> <!-- .show-lg -->

		</div> <!-- .m-top50 .text-center .turbine-group -->


		<!-- User input -->
		<div class="row main-input">
			<div class="col-xs-12 col-sm-8">
				<h1>Is it windy in...</h1>

				<!-- Input field -->
				<form data-phone-submit>
				<div class="input-group input-group-lg">
					<input id="location"  class="form-control" type="search" placeholder="e.g. Wellington" onkeydown="if (event.keyCode == 13) document.getElementById('goBtn').click()" onfocus="this.value='';" data-ng-click="showAlert=true" data-ng-model="locationName" autofocus>

					<!-- Go button -->
					<span class="input-group-btn">
						<button type="button" id="goBtn" class="btn btn-success" data-ng-click="angular.element('.clear-on-click').detach()" data-ng-disabled="!(!!locationName)">Go!</button>
					</span> <!-- .input-group-btn -->
				</div> <!-- .input-group .input-group-lg -->
				</form>
				<!-- Speed unit selection button -->
				<div class="btn-group btn-group-lg pull-right m-top10 unit-btn" data-ng-init="button = 'kph'">
					<a href="javascript:void(0)" data-ng-click="button = 'kph'" data-ng-class="{ 'active' : button == 'kph' }" class="btn btn-primary rmv-bdr">kph</a>
					<a href="javascript:void(0)" data-ng-click="button = 'mph'" data-ng-class="{ 'active' : button == 'mph' }" class="btn btn-primary rmv-bdr">mph</a>
				</div> <!-- .btn-group .btn-group .btn-group-lg .pull-right .m-top10 .unit-btn -->

			</div> <!-- .col-xs-12 .col-sm-8 -->
		</div> <!-- .row .m-top50 -->


		<!-- Speed display -->
		<div class="row">
			<div class="col-md-10">

				<!-- Speed display - KPH -->
				<div data-ng-show="true" data-ng-hide="button == 'mph'">
					<h3 class="inline-b clear-on-click" data-ng-show="showDecision">The current wind speed in {{ foundLocation.city }}, {{ foundLocation.region }} {{ foundLocation.country }} is... <span class="speed-display"><a href="https://www.yahoo.com/?ilc=401.">{{ currentWindSpeed | changeToKph }}{{ kph }}&nbsp;</a></span></h3>
				</div>


				<!-- Speed display - MPH -->
				<div data-ng-show="button == 'mph'">
					<h3 class="inline-b clear-on-click" data-ng-show="showDecision">The current wind speed in {{ foundLocation.city }}, {{ foundLocation.region }} {{ foundLocation.country }} is... <span class="speed-display" > {{ currentWindSpeed }}{{ mph }}</span></h3>
				</div>

			</div> <!-- .col-md-10 -->
		</div> <!-- .row -->

		<!-- Couldn't find location -->
		<div class="alert alert-danger col-xs-12 col-sm-6 top10" role="alert" data-ng-show="showError">Sorry, we couldn't find the wind speed for that location.</div>

		<!-- API attribution -->
		<a href="https://www.yahoo.com/?ilc=401" target="_blank" class="yahoo-attr"> <img src="https://poweredby.yahoo.com/white.png" alt="Powered by Yahoo" width="134" height="29"/> </a>

	</div> <!-- .container --> <!-- End of AppController -->

	<script src="app/lib/jquery-2.1.3.min.js"></script>
	<script src="app/lib/bootstrap.min.js"></script>
	<script src="app/lib/angular/angular.min.js"></script>
	<script src="app/js/app.js"></script>
	<script src="app/js/controllers/AppController.js"></script>
	<script src="app/js/services.js"></script>
	<script src="app/js/filters.js"></script>
	<script src="app/js/directives.js"></script>
<script>
(function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
;c.parentNode.insertBefore(a,c)
})(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");

galite('create', 'UA-60709674-3', 'auto');
galite('send', 'pageview');
</script>
</body>
</html>
